/* make the whole page free of padding margin and border */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* common style rules for whole content */
body {
	font-family: 'Comfortaa' cursive;
	font-size: 30px;
	margin: 0;
	background-color: #f7fcf7;
}

/* define the text style details */
h1 {
	text-align:center;
	font-size: 80%;
	color: #000;
	padding: 1% 0;
	font-weight: 400;
}

h2 {
	font-size: 40%;
	text-align:left;
	padding: 10px;
	color: #000;
	font-weight: 200;
}

a {
	font-size: 40%;
	text-align:center;
	padding-left: 10px;
	color: #000;
	font-weight: 200;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
} 

/* style rules for x and y axis */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* axis label style rule */
.label {
	font-size: 11px;
}

/* data style rules */
.line {
  fill: none;
  stroke-width: 2px;
}

