/* make the whole page free of padding margin and border */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* common style rules for whole content */
body {
	font-family: 'Comfortaa' cursive;
	font-size: 30px;
	margin: 0;
	background-color: #f7fcf7;
}

/* define the text style details */
h1 {
	text-align:center;
	text-decoration: none;
	font-size: 80%;
	color: #000;
	padding: 1% 0;
	font-weight: 400;
}

h2 {
	font-size: 40%;
	text-align:left;
	padding: 10px;
	color: #000;
	font-weight: 200;
}

h3 {
	font-size: 50%;
	color: #000;
	text-align: center;
	font-weight: 200;
	text-decoration: none;
}

a {
	font-size: 40%;
	text-align:center;
	padding-left: 10px;
	color: #000;
	font-weight: 200;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
} 

.barcolor {
	fill: #1b5489;
}


.lable {
	color: #000;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}