/* Nordin Bouchrit */
/* 11050608 */

/* style for the whole page */
body {
	font-family: 'Comfortaa', cursive; 
	background-color: #ededed;
}

/* add home button style */
.navbar-brand {
	font-weight: bold;
	border: 1px solid;
	padding: 5px;
	border-radius: 4px;
	background-color: #5a5c60;

}

/* add scatter container style */
#main-container {
	max-width: 1250px;
	margin: 0 auto;
	height: 600px;
	min-height: 600px;
	background-color:#fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* add story container style */
#story-container {
	max-width: 1250px;
	margin: 0 auto;
	height: 800px;
	min-height: 800px;
	background-color:#fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* give the map-tip a style */
.d3-tip {
    line-height: 1.5;
    font-weight: bold;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #ededed;
    border-radius: 1px;
    pointer-events: none;
}

.tip-content {
	color: #f9f9f9;
}

/* make sure axis is good visible */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* give the scatter tip a good style */
.tooltip {
	position: absolute;
	font-size: 13px;
	color: #000;
	width: auto;
	height: auto;
	pointer-events: none;
	background-color: #fff;
	border: 1px solid;
	padding: 8px 20px; 
  	border-radius: 10px;
}

