body {
	font-family: 'Comfortaa', cursive; 
	background-color: #ededed;
}

.navbar-brand {
	font-weight: bold;
	border: 1px solid;
	padding: 5px;
	border-radius: 4px;
	background-color: #5a5c60;

}

#main-container {
	max-width: 1250px;
	min-height: 10%;
	max-height: 10%;
	margin: 0 auto;
	background-color:#fff;
	padding-top:50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d3-tip {
    line-height: 1.5;
    font-weight: bold;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #ededed;
    border-radius: 1px;
    pointer-events: none;
}

.tip-content {
	color: #f9f9f9;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}