* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Comfortaa', cursive; 
	background-color: #005e49;
	margin: 0;
}

svg {
	margin-left: auto;
	margin-right: auto;
	display: block;
} 

h1 {
	text-align:center;
	font-size: 100%;
	color: #fff;
	padding: 1% 0;
	font-weight: 400;
}

h2 {
	font-size: 80%;
	line-height: 150%;
	text-align:center;
	padding: 1% 0;
	color: #fff;
	font-weight: 200;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	background-color: #005e49;
}

.banner {
	max-width: 1100px;
	margin: 0 auto;
	background-color: #005e49;
}

.banner h1 {
	padding: 5% 0 3% 0;
	font-size: 150%;
}
.barcolor {
	fill: #630429;
	-webkit-transition: 0.1s;
}

.barcolor:hover {
	fill: #00ffc7;
}

.axis path,
.axis line {
	fill: none;
	stroke: #00ffc7;
	shape-rendering: crispEdges;
}

.tempcolor {
	fill: #630429
}
